@use "../../assets/styles/mixins" as mix;
@use "../../assets/styles/constants.scss" as const;

.home {
  background-color: const.$background-color;
  font-family: const.$font-family;
  width: 100%;
  height: 800px
}

.home-wrapper {
  background-color: const.$main-wrapper-color;
  border-radius: 64px 64px 0 0 ;
  width: 100%;
  min-height: 800px;

  &_content {
    margin: 0 auto;
    padding: 32px;
    width: const.$content-width;
  }
}

.title {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  &_text {
    font-weight: 700;
    font-size: 40px;
  }
}

.title-links {
  display: flex;
  align-items: center;
  background-color: rgba(30, 43, 68, .08);
  border-radius: 99px;

  &__item {
    display: flex;
    align-items: center;
    padding: 0 19px;
    border-radius: 99px;
    font-family: const.$font-family;
    font-weight: 500;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    height: 100%;

    &:hover {
      padding: 0 19px;
      cursor: pointer;
      background-color: rgba(22, 57, 119, 0.08);
    }
  }
}

.active {
  background-color: const.$background-color;
  color: const.$light-text-color;
  &:hover {
    background-color: const.$background-color;
    color: const.$light-text-color;
  }
}
