version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=alfa_hack
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/alfa_hack
    depends_on:
      - db

  frontend:
    build: ./frontend/frontend-alfa
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/frontend-alfa:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  postgres_data:
