@use "../../assets/styles/mixins" as mix;
@use "../../assets/styles/constants.scss" as const;

.header {
  background-color: const.$background-color;
  font-family: const.$font-family;

  &_wrapper {
    padding: 32px;
    width: const.$content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &_icon {
    color: const.$primary-color;
    font-size: 35px;
    font-weight: bold;
  }

  &_links {
    text-decoration: none;
    color: const.$light-text-color;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: const.$light-text-color;
      text-decoration: none;
    }
    &__item {
      margin-right: 16px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &_buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.light-button {
  margin: 9px;
  font-size: 14px;
  min-height: 40px;
  min-width: 88px;
  padding: 0 19px;
  transition: background .2s ease, border .2s ease, color .2s ease;
  border-radius: 8px;
  border: none;
  background-color: rgba(222, 222, 238, .13);
  color: #FFFFFF;

  &:hover {
    cursor: pointer;
    background-color: rgba(222, 222, 238, 0.16);
  }
}

.main-button {
  font-size: 14px;
  min-height: 40px;
  min-width: 88px;
  padding: 0 19px;
  transition: background .2s ease, border .2s ease, color .2s ease;
  border-radius: 8px;
  border: none;
  background-color: #ef3124;;
  color: #FFFFFF;
  &:hover {
    cursor: pointer;
    background-color: const.$primary-color;
  }
}

