@use "../../assets/styles/mixins" as mix;
@use "../../assets/styles/constants.scss" as const;

.new-client {
  margin-top: 32px;
  background: #f2f3f5;
  border-radius: 32px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 550px;
  min-height: 468px;
  padding: 8px;

  &__title {
    line-height: 26px;
    font-weight: 700;
    font-size: 22px;
    color: rgba(3, 3, 6, .88);
    margin-bottom: 24px;
  }


  &__calculate {
    background: #fff;
    border-radius: 24px;
    height: inherit;
    position: relative;
  }
}