@use "../../assets/styles/mixins" as mix;
@use "../../assets/styles/constants.scss" as const;

.footer {
  background-color: const.$main-wrapper-color;
  width: 100%;
  height: 300px;
  position: relative;

  &_wrapper {
    background-color: const.$background-color;
    border-radius: 64px 64px 0 0 ;
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &_links {
    background-color: rgb(39, 39, 42);
    margin-top: -130px;
    width: const.$content-width;
    height: 300px;
    position: absolute;
    z-index: 10;
    border-radius: 32px;
  }
}

.footer-img {
  width: 500px;
  height: 250px;
}

.footer-description {
  padding: 32px;
  font-family: const.$font-family;
  color: const.$light-text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
  }

  p {
    margin: 16px 0;
  }

  &__text {
    color: const.$light-text-color;
  }
}

