$background-color: #121212;
$main-wrapper-color: #FFFFFF;
$primary-color: #ef3124;
$primary-color-four :#F8E2DE;

$card-wrapper-color: rgb(242, 243, 245);
$input-wrapper-color: rgba(3, 3, 6, .88);

$card-border-radius: 32px;

$dark-text-color: rgba(3, 3, 6, .88);
$light-text-color: #fff;
$font-family: Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Helvetica;

$button-hover-color: #ff8951;
$main-text-color: #3D3D3D;
$font-family: sans-serif;
$transition: 0.5s;

$laptop-l-width: 1920px;
$content-width: 1200px;
$tablet-width: 640px;
$mobile-small-width: 400px;